<!-- Container (Contact) -->
<div class="w3-content w3-container w3-padding-64" id="contact">
    <div class="w3-row w3-padding-32 w3-section">
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <em
                    class="
                        fa fa-map-marker fa-fw
                        w3-hover-text-black w3-xlarge w3-margin-right
                    "
                ></em>
                Parque Científico Tecnológico y Empresarial de la
                Universidad, Jaume I, 12071 Castellón de la Plana,
                Castellón<br />
                <em
                    class="
                        fa fa-phone fa-fw
                        w3-hover-text-black w3-xlarge w3-margin-right
                    "
                ></em>
                Teléfono: +666 666 666<br />
                <em
                    class="
                        fa fa-envelope fa-fw
                        w3-hover-text-black w3-xlarge w3-margin-right
                    "
                ></em>
                Email: fotosdenuestrosgatos@fotosdenuestrosgatos.com<br />
            </div>
            <p>Déjanos una nota:</p>
            <form action="#" target="_blank">
            {{ form_start(messagesForm) }}
                <div
                    class="w3-row-padding"
                    style="margin: 0 -16px 8px -16px"
                >
                {{ form_row(messagesForm.name) }}
                {{ form_row(messagesForm.email) }}
                {{ form_row(messagesForm.message) }}
                {{ form_row(messagesForm.save) }}
            {{ form_end(messagesForm) }}
            </form>
        </div>
        <div class="w3-col m4 w3-container">
            <img
                src="./assets/contact.png"
                class="w3-image w3-round"
                style="width: 100%"
                alt="imagen-contacto"
            />
        </div>
    </div>
</div>