{% extends 'base.html.twig' %}
{% block title %}Fotos de nuestros gatos{% endblock %}
{% block body %}
    {% if photos %}
             <!-- Grid responsive de W3 -->
            <div class="w3-row-padding w3-center">
                {% for photo in photos %}
                <div class="w3-col s12 m6 l6 w3-section">
                    <img
                        src="../assets/photos/{{ photo.getFileName }}"
                        style="width: 100%"
                        onclick="imgExpand(this)"
                        class="w3-hover-opacity"
                        alt="{{ photo.getDescription }}"
                    />
                </div>
                {% endfor %}
            </div>
    {% endif %}
    {% if maxPages > 1 %}
    <ul style="display: flex; flex-direction: row; justify-content: space-evenly">
        {% if thisPage > 1 %}
            <li >
                <a href="{{ path('photos_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li>
                <a href="{{ path('photos_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        {% if thisPage < maxPages %}
            <li>
                <a href="{{ path('photos_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}
{% endblock %}