<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="Página dedicada a compartir
         las fotos favoritas de tus gatos y gatitos con la comunidad"/>
        <meta charset="utf-8"/>
        <meta name="keywords" content="gatos, gatitos, fotos, mininos"/>
        <meta name="author" content="Marc Llop Franch" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Fotos de Nuestros Gatos{% endblock %}</title>
        {% block stylesheets %}
            <link
                rel="shortcut icon"
                href="./assets/favicon.ico?v=2"
                type="image/x-icon"
            />
            <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
             />
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
             />
            <link
                href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/styles.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="/js/gsap.js"></script>
            <script src="/js/jquery.js"></script>
            <script src="/js/jquery-ui.js"></script>
            <script src="/js/imgExpand.js"></script>
            <script src="/js/progressScrollBar.js"></script>
            <script src="/js/carousel.js"></script>
            <script src="/js/infinite-scroll.pkgd.js"></script>
            <script src="/js/infiniteScroll.js"></script>
            <script src="/js/masonry.pkgd.js"></script>
            <script src="/js/imagesloaded.pkgd.js"></script>
            <script src="/js/misjquery.js"></script>

        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ include ('/partials/navbar.html.twig') }}
            {{ include ('/partials/fondo_1.html.twig')  }}
            {{ include ('/partials/dailyStory.html.twig')  }}
            {{ include ('/partials/fondo_2.html.twig')  }}
            {{ include ('/partials/photos.html.twig')  }}
            {{ include ('/partials/photoModal.html.twig')  }}
            {{ include ('/partials/footer.html.twig')  }}
            {{ include ('/partials/initialAnimation.html.twig')  }}
        {% endblock %}
    </body>
</html>
