<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenidos a Fotos de Nuestros Gatos!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link
                rel="shortcut icon"
                href="./assets/favicon.ico?v=2"
                type="image/x-icon"
            />
            <link
            rel="stylesheet"
            href="https://www.w3schools.com/w3css/4/w3.css"
             />
            <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
             />
            <link
                href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
                rel="stylesheet"
            />
            <link rel="stylesheet" href="/styles/styles.css" />
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {# <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
            crossorigin="anonymous"
            ></script>
            <script src="js/imgExpand.js"></script>
            <script src="js/animation.js"></script>
            <script src="js/progressScrollBar.js"></script>
            <script src="js/carousel.js"></script> #}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {{ include ('partials/navbar.html.twig') }}
        {{ include ('partials/fondo_1.html.twig')  }}
        {{ include ('partials/dailyStory.html.twig')  }}

        
        
        <!-- Fondo 2-->
        <div class="fondo-2" id="photos">
            <div class="gradient-top"></div>
            <div class="fondo-texto-container">
                <p class="fondo-texto">Fotos</p>
            </div>
            <div class="gradient"></div>
        </div>

        <!-- Container (Photos) -->
        <div class="w3-content w3-container w3-padding-64" id="portfolio">
            <h3 class="w3-center">Fotos</h3>
            <p class="w3-center">
                <em>Aquí tenemos algunos de los lorem ipsum tipsum.<br /> </em>
            </p>
            <br />

            <!-- LISTA DE FOTOS -->
            {% if photos %}
                {{ include ('photos.html.twig', {
                    'photos': photos,
                    'maxPages': maxPages,
                    'currentPage': currentPage,
                    'thispage': thisPage })
                }}
            {% endif %}
        </div>
        <!-- Modelo W3 imágenes a tamaño grande -->
        <div
            id="modal01"
            class="w3-modal w3-black"
            onclick="this.style.display='none'"
        >
            <span
                class="w3-button w3-large w3-black w3-display-topright"
                title="Close Modal Image"
                ><em class="fa fa-remove"></em
            ></span>
            <div
                class="
                    w3-modal-content
                    w3-animate-zoom
                    w3-center
                    w3-transparent
                    w3-padding-64
                "
            >
                <img id="img01" class="w3-image" alt="cat-image-large" />
                <p id="caption" class="w3-opacity w3-large"></p>
            </div>
        </div>
        <!-- Fondo 3-->
        <div class="fondo-3">
            <div class="gradient-top"></div>
            <div class="fondo-texto-container">
                <p class="fondo-texto">Contacto</p>
            </div>
            <div class="gradient"></div>
        </div>
        <!-- Container (Contact) -->
        <div class="w3-content w3-container w3-padding-64" id="contact">
            <div class="w3-row w3-padding-32 w3-section">
                <div class="w3-col m8 w3-panel">
                    <div class="w3-large w3-margin-bottom">
                        <em
                            class="
                                fa fa-map-marker fa-fw
                                w3-hover-text-black w3-xlarge w3-margin-right
                            "
                        ></em>
                        Parque Científico Tecnológico y Empresarial de la
                        Universidad, Jaume I, 12071 Castellón de la Plana,
                        Castellón<br />
                        <em
                            class="
                                fa fa-phone fa-fw
                                w3-hover-text-black w3-xlarge w3-margin-right
                            "
                        ></em>
                        Teléfono: +666 666 666<br />
                        <em
                            class="
                                fa fa-envelope fa-fw
                                w3-hover-text-black w3-xlarge w3-margin-right
                            "
                        ></em>
                        Email: fotosdenuestrosgatos@fotosdenuestrosgatos.com<br />
                    </div>
                    <p>Déjanos una nota:</p>
                    <form action="#" target="_blank">
                        <div
                            class="w3-row-padding"
                            style="margin: 0 -16px 8px -16px"
                        >
                            <div class="w3-half">
                                <label for="name" style="display: none;">Nombre</label>
                                <input
                                    id="name"
                                    class="w3-input w3-border"
                                    type="text"
                                    placeholder="Nombre"
                                    required
                                    name="Name"
                                />
                            </div>
                            <div class="w3-half">
                                <label for="email" style="display: none;">Nombre</label>
                                <input
                                    id="email"
                                    class="w3-input w3-border"
                                    type="text"
                                    placeholder="Email"
                                    required
                                    name="Email"
                                />
                            </div>
                        </div>
                        <label for="message" style="display: none;">Nombre</label>
                        <input
                            id="message"
                            class="w3-input w3-border"
                            type="text"
                            placeholder="Mensaje"
                            required
                            name="Message"
                        />
                        <button
                            class="w3-button w3-black w3-right w3-section"
                            type="submit"
                        >
                            <em class="fa fa-paper-plane"></em> ENVIAR MENSAJE
                        </button>
                    </form>
                </div>
                <div class="w3-col m4 w3-container">
                    <img
                        src="./assets/contact.png"
                        class="w3-image w3-round"
                        style="width: 100%"
                        alt="imagen-contacto"
                    />
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer
            class="
                w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off
            "
        >
            <a href="#home" class="w3-button w3-light-grey"
                ><em class="fa fa-arrow-up w3-margin-right"></em>Ir arriba</a
            >
            <div class="w3-xlarge w3-section">
                <em class="fa fa-facebook-official w3-hover-opacity"></em>
                <em class="fa fa-instagram w3-hover-opacity"></em>
                <em class="fa fa-snapchat w3-hover-opacity"></em>
                <em class="fa fa-pinterest-p w3-hover-opacity"></em>
                <em class="fa fa-twitter w3-hover-opacity"></em>
                <em class="fa fa-linkedin w3-hover-opacity"></em>
            </div>
            <a
                rel="license"
                href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                ><img
                    alt="Licencia de Creative Commons"
                    style="border-width: 0"
                    src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a
            ><br />Este obra está bajo una
            <a
                rel="license"
                href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
                >licencia de Creative Commons
                Reconocimiento-NoComercial-CompartirIgual 4.0 Internacional</a
            >.
        </footer>
        <div class="intro">
            <div class="intro-text">
                <h1 class="hide">
                    <span class="text">Sube las fotos</span>
                </h1>
                <h1 class="hide">
                    <span class="text">favoritas de</span>
                </h1>
                <h1 class="hide">
                    <span class="text">tus gatos.</span>
                </h1>
            </div>
        </div>
        <div class="slider"></div>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"
            integrity="sha512-IQLehpLoVS4fNzl7IfH8Iowfm5+RiMGtHykgZJl9AWMgqx0AmJ6cRWcB+GaGVtIsnC4voMfm8f2vwtY+6oPjpQ=="
            crossorigin="anonymous"
        ></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/imgExpand.js"></script>
        <script src="/js/animation.js"></script>
        <script src="/js/progressScrollBar.js"></script>
        <script src="/js/carousel.js"></script>
        <script src="/js/infinite-scroll.pkgd.js"></script>
        <script src="/js/infiniteScroll.js"></script>
        <script src="/js/masonry.pkgd.js"></script>
        {% endblock %}
    </body>
</html>
