{% extends 'base.html.twig' %}
{% block title %}Fotos de nuestros gatos{% endblock %}
{% block stylesheets %}
    <link
        rel="shortcut icon"
        href="./assets/favicon.ico?v=2"
        type="image/x-icon"/>
    <link href="https://www.w3schools.com/w3css/4/w3.css"
    rel="stylesheet"/>
    <link
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"/>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@500;700&family=Lobster&display=swap"
        rel="stylesheet"/>
    <link rel="stylesheet" href="/styles/styles.css" />
{% endblock %}
{% block body %}
{{ include ('/partials/navbar.html.twig') }}
{{ include ('/partials/fondo_2.html.twig') }}

<div class='w3-center'>
    {{ form_start(formulario) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formulario) }}
    </div>
    <div>
        <div class="" id="form-fileName">
            <h1>{{ form_row(formulario.fileName, {'label': 'Click para subir una foto'}) }}</h1>
        </div>
        <div class="w3-padding" id="form-description">
            {{ form_widget(formulario.description, {
                'attr': {
                    'class': 'w3-input',
                    'placeholder': 'Introduce una descripción'
                    }
                })
            }}
        </div>
        <div class="w3-center w3-padding-64">
            <div class="w3-half" id="form-save">
                {{ form_widget(formulario.save, {
                        'attr': {
                            'class': 'w3-btn w3-blue',
                        }
                    })
                }}
            </div>
            <div class="w3-half" id="form-description">
                <a href="/" class="w3-btn w3-blue">Volver</a>
            </div>
        </div>
    </div>
</div>
{{ form_end(formulario) }}
    {{ include ('/partials/footer.html.twig')  }}
{% endblock %}