{% extends 'base.html.twig' %}
{% block title %}Fotos de nuestros gatos{% endblock %}
{% block body %}
{{ include ('partials/navbar.html.twig')  }}
    {% if photos %}
            <div class="w3-content w3-container w3-padding-64" id="portfolio">
            <h3 class="w3-center">Fotos</h3>
            <p class="w3-center">
                <em>Aquí tenemos algunos de los lorem ipsum tipsum.<br /> </em>
            </p>
            <br />
             <!-- CONTENEDOR FOTOS -->
            <div class="infiniteContainer grid">
                {% for photo in photos %}
                <div class="infinite grid-item">
                    <img
                        src="../assets/photos/{{ photo.getFileName }}"
                        style="width: 100%"
                        onclick="imgExpand(this)"
                        class="w3-hover-opacity"
                        alt="{{ photo.getDescription }}"
                    />
                </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    {# {% if maxPages > 1 %}
    <ul style="display: flex; flex-direction: row; justify-content: space-evenly">
        {% if thisPage > 1 %}
            <li >
                <a href="{{ path('photos_index', {currentPage: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>
        {% endif %} #}

        {# Render each page number #}
        {# {% for i in 1..maxPages %}
            <li>
                <a href="{{ path('photos_index', {currentPage: i}) }}">{{ i }}</a>
            </li>
        {% endfor %} #}

        {# `»` arrow #}
       {#  {% if thisPage < maxPages %}
            <li>
                <a href="{{ path('photos_index', {currentPage: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        {% endif %}
    </ul>
    {% endif %} #}
{% endblock %}